<body>
    
    <div>
        <div class="test" >
            <img class="join-usImg" src="../../../assets/images/join-us.jpg">
            <img class="arrow1" src="../../../assets/patterns/left-downward-arrow.svg">
            <img src="">
        </div>
        <div class="test2" >
            <h2>Care to join our mission?</h2>
            <p>We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our mission to provide clean, accessible transport to improve urban living we want to hear from you!</p>
            <button>Say Hello</button>
        </div>
    </div>

</body>
