<header>
    
    <div class="h1">
        <h1>Scooter sharing made simple</h1>
    </div>

    <div class="scoot">
        <img src="../../assets/images/home-hero-mobile.jpg">
    </div>

    <div class="arrow">
        <img src="../../assets/patterns/right-arrow.svg">
    </div>

    <div class="p">
        <p> Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient 
            locations in each of our cities. Use our app to locate the nearest bike, unlock 
            it with a tap, and you’re away!
        </p>
    </div>

    <button>Get Scootin</button>

    <!-- <app-learn-more></app-learn-more> -->
    <!-- <app-scooter-howto></app-scooter-howto> -->

</header>