<app-nav></app-nav>

<h1>Scooter sharing made simple</h1>
<div class="container" >
    <img class="img1" src="../../assets/images/home-hero-mobile.jpg">
    <img class="img2" src="../../assets/images/home-hero-desktop.jpg">
    <img class="arrow" src="../../assets/patterns/right-arrow.svg">
    <p>Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient locations in each of our cities. Use our app to locate the nearest bike, unlock it with a tap, and you’re away!</p>
</div>
<button>Get Scootin</button>

<app-scooter-howto></app-scooter-howto>
<app-learn-more></app-learn-more>
<app-footer></app-footer>