h1 {
    position: absolute;
    width: 311px;
    height: 120px;
    left: 32px;
    top: 122px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1.78571px;
    color: #FFFFFF;
}

p {
    position: absolute;
    width: 311px;
    height: 125px;
    left: 32px;
    margin-top: 24px;
    top: 257px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.container {
    margin-bottom: 120px;
}

.img1 {
    width: 375px;
    height: 668px;
    left: 0px;
    top: 64px;
}

.img2 {
    display: none;
}

.arrow {
    position: absolute;
    top: 476px;
    left: -304px;
}

button {
    position: absolute;
    top: 442px;
    left: 93px;
    width: 180px;
    height: 53px;
   background: #FCB72B;
   font-family: 'Space Mono';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   text-align: center;
   border: none;
   color: #FFFFFF;
   }

@media only screen and (min-width: 700px) {
    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }
}

