<img src="../../../assets/images/digital-era.jpg">
<img src="../../../assets/patterns/left-downward-arrow.svg">
<h2>Mobility for the digital era</h2>
<p>Getting around should be simple (and even fun!) for everyone. We embrace technology to 
    provide low cost, smart access to scooters at your fingertips.
  </p>


<img src="../../../assets/images/better-living.jpg">
<img src="../../../assets/patterns/right-arrow.svg">
<h2>Better urban living</h2>
<p> We’re helping connect cities and bring people closer together. Our scooters are also 
    fully-electric and we offset the minimal carbon footprint for each ride.</p>



