<h2>Why join us?</h2>
    <section>
        <article>
            <div class="techImg">
                <img src="../../../assets/images/our-tech.jpg">
                <div>
                    <p>01</p>
                </div>
            </div>
            <div class="techText">
                <h3>Our tech</h3>
                <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
            </div>
        </article>
        <article>
            <div class="techImg">
                <img src="../../../assets/images/our-integrity.jpg">
                <div>
                    <p>02</p>
                </div>
            </div>
            <div class="techText">
                <h3>Our integrity</h3>
                <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
            </div>
        </article>
        <article>
            <div class="techImg">
                <img src="../../../assets/images/our-community.jpg">
                <div>
                    <p>03</p>
                </div>
            </div>
            <div class="techText">
                <h3>Our community</h3>
                <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
            </div>
        </article>
    </section>