.outerContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.innerContainer {
    display: flex;
    background-color: #E28625;
    border-radius: 8px;
}

@media only screen and (max-width: 376px) {
    .outerContainer {
        height: 260vh;
    }
    
    .innerContainer {
        flex-direction: column;
    }
}