<section>
    <article>
        <div>
            <h4>General Manager</h4>
            <p>Jakarta, Indonesia</p>
        </div>
            <button>Apply</button>
    </article>
    <article>
        <div>
            <h4>UI/UX Designer</h4>
            <p>Yokohama, Japan</p>
        </div>
        <button>Apply</button>
    </article>
    <article>
        <div>
            <h4>Blog Content Copywriter</h4>
            <p>New York, United States</p>
        </div>
        <button>Apply</button>
    </article>
    <article>
        <div>
            <h4>Graphic Designer</h4>
            <p>New York, United States</p>
        </div>
        <button>Apply</button>
    </article>
    <article>
        <div>
            <h4>Fleet Supervisor</h4>
            <p>Jakarta, Indonesia</p>
        </div>
        <button>Apply</button>
    </article>
    <article>
        <div>
            <h4>UX Analyst</h4>
            <p>London, United Kingdom</p>
        </div>
        <button>Apply</button>
    </article>
</section>