<body>
    
  <div>
      <div class="test" >
          <img class="join-usImg" src="../../../assets/images/digital-era.jpg">
          <img class="arrow1" src="../../../assets/patterns/left-upward-arrow.svg">
          <img src="">
      </div>
      <div class="test2" >
          <h2>Mobility for the digital era</h2>
          <p>Getting around should be simple (and even fun!) for everyone. We embrace technology to provide low cost, smart access to scooters at your fingertips.</p>
      </div>
  </div>

  <div>
    <div class="test3" >
        <img class="betterImg" src="../../../assets/images/better-living.jpg">
        <img class="arrow2" src="../../../assets/patterns/right-arrow.svg">
        <img src="">
    </div>
    <div class="test4" >
        <h2>Better urban living</h2>
        <p>We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride.</p>
    </div>
</div>
</body>
