.test {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test .join-usImg {
width: 311px;
height: 311px;
margin-bottom: 56px;
border-radius: 50%;
}

.arrow1 {
    position: absolute;
    top: 359px;
    left: 28px;
}

.test2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test2 h2 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: -1.42857px;
margin-bottom: 32px;
color: #495567;
}

.test2 p {
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
margin-bottom: 89.95px;
color: #939CAA;
} 

.test2 button {
 width: 180px;
 height: 53px;
background: #FCB72B;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
text-align: center;
border: none;
color: #FFFFFF;
}

.test2 h2, .test2 p {
width: 311px;

}






.test3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test3 .betterImg {
width: 311px;
height: 311px;
margin-bottom: 56px;
border-radius: 50%;
}

.arrow2 {
    position: absolute;
    top: 877px;
    left: -104px;
}

.test4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test4 h2 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: -1.42857px;
margin-bottom: 32px;
color: #495567;
}

.test4 p {
 width: 311px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
margin-bottom: 32px;
color: #939CAA;
} 

.test4 h2, .test2 p {
width: 311px;

}