.test {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test .join-usImg {
width: 311px;
height: 311px;
margin-bottom: 56px;
border-radius: 50%;
}

.arrow1 {
    position: absolute;
    top: 483px;
    left: 28px;
}

.test2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test2 h2 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: -1.42857px;
margin-bottom: 32px;
color: #495567;
}

.test2 p {
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
margin-bottom: 89.95px;
color: #939CAA;
} 

.test2 button {
 width: 180px;
 height: 53px;
background: #FCB72B;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 25px;
text-align: center;
border: none;
color: #FFFFFF;
}

.test2 h2, .test2 p {
width: 311px;

}

.whiteCircle {
    display: none;
}

.test3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test3 .betterImg {
width: 311px;
height: 311px;
margin-bottom: 56px;
border-radius: 50%;
}

.arrow2 {
    position: absolute;
    top: 1005px;
    left: -104px;
}

.test4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test4 h2 {
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: -1.42857px;
margin-bottom: 32px;
color: #495567;
}

.test4 p {
 width: 311px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
margin-bottom: 32px;
color: #939CAA;
} 

.test4 h2, .test2 p {
width: 311px;

}

@media only screen and (min-width: 700px) {
    .urbanTest {
        display: flex;
        flex-direction: row;
        height: 445px;
        margin-left: 64px;
        left: 265px;
        top: 981px;
    }

    .whiteCircle {
        position: absolute;
        width: 345px;
        height: 345px;
        left: -264px;
        top: 1011px;
        border-radius: 50%;
        background: #E5ECF4;
    }

    .betterImg {
        position: absolute;
        width: 445px;
        height: 445px;
        left: 165px;
        top: 1021px;
    }

    .join-usImg {
        position: absolute;
        width: 668px;
        height: 445px;
        left: 800px;
        top: 416px;
    }

    .group1 {
        display: flex;
        flex-direction: row;
        height: 445px;
        margin-left: 64px;
        width: 1619px;
        left: -165px;
        top: 416px;
    }

    .test2 {
        position: absolute;
        width: 445px;
        height: 195px;
        left: 165px;
        top: 501px;
    }

    .test4 {
        position: absolute;
        width: 445px;
        height: 195px;
        left: 830px;
        top: 1106px;
    }

    .arrow2 {
        position: absolute;
        left: -149.97px;
        top: 989px;
        border: 15px  #FCB72B;
  
    }
}